<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>新绿色药业每日自动签到工具</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='global.css') }}">
    <style>
        form>input {
            background-color: white;
            color: black;
            font-size: 1em;
            padding: 6px;
            border-radius: 4px;
            margin: 4px;
        }

        form>select {
            font-size: 1em;
        }

        form>input[type=submit] {
            color: red;
            width: 100px;
        }
    </style>
</head>

<body>
    <div class="navigation">
        导航：
        <a href="{{ url_for('home') }}">主页</a>|
        <a href="{{ url_for('tools') }}">工具</a>|
        <a href="{{ url_for('about') }}">关于</a>
        &spar;
        签到
    </div>
    <h3>新绿色药业每日自动签到工具</h3>
    <form action="/">
        <input id="user" type="text" placeholder="用户名">
        <br>
        <input id="password" type="password" placeholder="密码">
        <br>
        <input id="email" type="email" placeholder="通知邮件">
        <br>
        <input id="remark" type="text" placeholder="备注（可空）">
        <br>
        <select name="area" id="area">
            <option value="no-value">选择定位点</option>
            <option value="ylwsk">1. 御龙湾社康</option>
            <option value="hwsk">2. 海旺社康</option>
            <option value="scsk">3. 上川社康</option>
            <option value="kxsk">4. 凯旋社康</option>
        </select>
        <br>
        <input id="addSigner" type="submit" value="添加/修改">
    </form>
    <script src="{{ url_for('static', filename='axios.min.js')}}"></script>
    <script>
        function get_real_area(area, remark) {
            if (area.startsWith("ylwsk")) {
                return "latitudeLongitude=22.572765000000004,113.85347400000002" +
                    "&address=广东省深圳市宝安区金海路98号靠近正中华丽中心" +
                    "&remark=" + remark + "&attachmentIds="
            } else if (area.startsWith("hwsk")) {
                return "latitudeLongitude=22.559311566265976,113.88966858386996" +
                    "&address=宝安区中医院海旺社区健康服务中心,宝城84区风临洲C栋2楼" +
                    "&remark=" + remark + "&attachmentIds="
            } else if (area.startsWith("scsk")) {
                return "latitudeLongitude=22.578644232418984,113.8979981839657" +
                    "&address=深圳市宝安中医院(集团)上川社区健康服务中心,宝安35区同昌路7号京久商务大厦2层" +
                    "&remark=" + remark + "&attachmentIds="
            } else if (area.startsWith("kxsk")) {
                return "latitudeLongitude=22.549497445635144,113.89932453632356" +
                    "&address=宝安区中医院凯旋社区健康服务中心,宝安大道金泓凯旋城一期4栋117号" +
                    "&remark=" + remark + "&attachmentIds="
            } else {
                return "latitudeLongitude=22.572765000000004,113.85347400000002" +
                    "&address=广东省深圳市宝安区金海路98号靠近正中华丽中心" +
                    "&remark=" + remark + "&attachmentIds="
            }
        }
        const btnLogin = document.querySelector("#addSigner");
        const fUser = document.querySelector("#user");
        const fPass = document.querySelector("#password");
        const fArea = document.querySelector("#area");
        const fEmail = document.querySelector("#email");
        const fRemark = document.querySelector("#remark");
        btnLogin.addEventListener("click", evt => {
            evt.preventDefault();
            const fc = fUser.value;
            const fp = fPass.value;
            let fa = fArea.value;
            const fe = fEmail.value;
            const fr = fRemark.value;
            if (fc.trim() == "") {
                alert("用户名未填写");
            } else if (fp.trim() == "") {
                alert("密码未填写");
            } else if (fa == "no-value") {
                alert("每日定位点未选择");
            } else if (fe.trim() == "") {
                alert("请填写邮箱");
            } else {
                fa = get_real_area(fa, fr);
                axios.post("/tools/service/addSigner", {
                    user: fc,
                    password: fp,
                    email: fe,
                    area: fa
                }).then(resp => {
                    alert(resp.data);
                });
            }
        });
    </script>
</body>

</html>